h1 {
    color: red;
    text-align: center;
    text-shadow: 1px 1px 1px 1px;
    background: linear-gradient(to bottom, rgba(0,0,0,0.25), rgba(0,0,0,0.1));
    /*border: 1px solid black;*/
    padding: 3px;
    box-shadow: inset 2px 2px 5px rgba(0,0,0,0.5), inset -2px -2px 5px rgba(255,255,255,0.5);
}
p {
    color: blueviolet;
}